<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Error"
	  internalLogToConsole="true"
      internalLogFile="logs\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Database"/>
		<add assembly="NLog.Appsettings.Standard"/>
	</extensions>
	
	<!-- Configura los destinos de los logs -->
	<targets async="true">
		<!-- Guardar logs en un archivo -->
		<target xsi:type="file" name="logfile" fileName="logs\${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
		<!-- Mostrar logs en la consola -->
		<target xsi:type="Console" name="logconsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
	</targets>

	<!-- Configura las reglas para los loggers -->
	<rules>
		<!-- Registrar errores y niveles superiores tanto en el archivo como en la consola -->
		<logger name="*" minlevel="Error" writeTo="logfile,logconsole" />
	</rules>
</nlog>
